// Define variables for your color scheme

// For example:
$background: linear-gradient(rgb(15, 18, 22) 0%, rgb(39, 42, 48) 100%);
$color1: #32E0C4;
$color2:#D62AD0;
$textcolor: #EEEEEE;
$light-gray: #F4F4F4;

$tv-show-small-infos-color: rgba(255,255,255,0.7);
