// Define variables for your color scheme

// For example:
$background: linear-gradient rgb(73, 168, 255), rgb(255, 0, 138);
$color1: #32E0C4;
$color2:#D62AD0;
$textcolor: #EEEEEE;
$light-gray: #F4F4F4;

$tv-show-small-infos-color: #09FBD3;
