// Specific CSS for your home-page
.chanels, .love2{
  width: 100%;
  background-size: cover;
  background-image: -o-linear-gradient(rgb(15, 18, 22) 0%, rgb(39, 42, 48) 100%);
}

.love2 {
  width: 100%;
  background-size: cover;
}
.heart {
  width: 50%;
  background-size: cover;
  background-image: -o-linear-gradient(rgb(15, 18, 22) 0%, rgb(39, 42, 48) 100%);
  margin-top: 1%;
}

.title {
  margin-top: -15%;
}

.title2 {
  margin-top: 10%;
  margin-right: 3%;
}

.title3 {
  margin-top: 10%;
}
.content {
  display: flex;
}

.container_two {
  margin-top: 5%;
}

.container, h1{
  color: $textcolor;
}

.card-product-infos, h2 {
  text-align: center;
}

.btn-ghost {
  width: 100%;
  color: #139aa0;
  border: 2px solid #139aa0;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.5;
  transition: opacity 0.3s ;
  margin-top: 2%;
}

.btn-ghost:hover {
  opacity: 0.7;
}

.container_one, .container_two, .all_platform {
  border-color: $color1;
}

.index-global-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 5px;
}
