// Specific CSS for your home-page
.chanels, .play{
  width: 100%;
  background-size: cover;
  background-image: -o-linear-gradient(rgb(15, 18, 22) 0%, rgb(39, 42, 48) 100%);
  padding-left: 15%;
  padding-right: 15%;
}

.play {
  width: 100%;
  background-size: cover;
  margin-top: -10%;
  margin-bottom: -10%;
}
.heart {
  width: 100%;
  background-size: cover;
  margin-top: -11%;
  margin-bottom: -15%;
  background-image: -o-linear-gradient(rgb(15, 18, 22) 0%, rgb(39, 42, 48) 100%);
}

.title-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.title2 {
  margin-top: 10%;
  margin-right: 3%;
}
.container_one {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid;
  box-shadow: 0 0 2px 0px #dee2e699;
  border-radius: 1rem;
}


.container_two {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid;
  box-shadow: 0 0 2px 0px #dee2e699;
  border-radius: 1rem;
}

.container_three {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid;
  box-shadow: 0 0 2px 0px #dee2e699;
  border-radius: 1rem;
}

.container {
  color: $textcolor;
  padding-bottom: 20px;
}

.card-product-infos {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $textcolor;
  border-bottom: solid rgba($color: white, $alpha: 0.2);
  margin-right: 5%;
  margin-left: 5%;
}

.ocs-platform {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $textcolor;
  margin-right: 5%;
  margin-left: 5%;
  padding-bottom: 10%;
  padding-top: 10%;
}

.btn-ghost {
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s;
  margin-top: 2%;
  border: 3px solid #7CE7EC;
  width: 46%;
  margin-bottom: 3%;
}

.btn-ghost:hover {
  opacity: 0.7;
  background-color: #7CE7EC;
  border-color: #7CE7EC;
  color: $textcolor;
  border: 3px solid #7CE7EC;
}

.watch-now {
  color: white;
  height: 150px;
}
