<div class="global-container">
  <div class="tv-show-top-container">
    <div class="like-interaction-container">
    </div>
    <div class="tv-show-main-infos-container">
      <div class="title">
      </div>
      <div class="infos">
      </div>
    </div>
  </div>
  <div class="community-infos-container">
    <div class="watched-by-users">
    </div>
    <div class="scores">
    </div>
  </div>
  <div class="tv-show-infos-container">
    <div class="description">
    </div>
    <div class="platforms">
    </div>
  </div>
  <div class="main-reviews-container">
    <div class="community-reviews">
    </div>
    <div class="add-feedback">
    </div>
  </div>
</div>
