<div class="global-container">
  <div class="tv-show-top-container" style="background-image: url('<%= @tv_show.poster_url %>');">
    <div class="like-interactions-container">
      <a class="btn-interaction" href="#"><i class="fa fa-thumbs-up"></i></a>
      <a class="btn-interaction" href="#"><i class="fa fa-thumbs-down"></i></a>
      <a class="btn-interaction superlike" href="#"><i class="fa fa-heart"></i></a>
    </div>
    <div class="tv-show-main-infos-container">
      <div class="title">
      </div>
      <div class="infos">
      </div>
    </div>
  </div>
  <div class="community-infos-container">
    <div class="watched-by-users">
    </div>
    <div class="scores">
    </div>
  </div>
  <div class="tv-show-infos-container">
    <div class="description">
    </div>
    <div class="platforms">
    </div>
  </div>
  <div class="main-reviews-container">
    <div class="community-reviews">
    </div>
    <div class="add-feedback">
    </div>
  </div>
</div>
