<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/SidneyOuarzazi/sitcom"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="footer-logo">
    <%= image_tag "logo.png", class:"logo-footer"%>
  </div>
</div>
