<div class="card-suggestion d-flex justify-content-center align-content-center
 flex-column">
  <h2 class="text-center">Bla Bla</h2>
  <%= link_to tv_show_path(@suggestion) do %>
    <div class="card-suggestion-tvshow">
      <div class="tv-show-poster d-flex justify-content-center">
        <%= image_tag(@suggestion.poster_url) %>
      </div>
    </div>
  <% end %>
  <h4 class="text-center">Again</h4>
</div>
