<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} | Users" %>
<% content_for :meta_description, "#{@users.length} users on Sitcom" %>
<% content_for :meta_image, cl_image_path("logo.png") %>

<div class="index-global-container-true">
  <div class="search-bar">
    <%= form_tag search_tv_shows_path,class:"simple_form search", autocomplete:"off", method: :get do %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search"
        %>
        <button name="button" type="submit" class="btn btn-flat" id="search-btn">
          <i class="fa fa-search" id="search-icon"></i>
        </button>
      </div>
    <% end %>
  </div>

  <div class="tab-container">
    <ul class="list-inline tabs-underlined">
      <li>
        <a href="/search/tv_shows" class="tab-underlined">TV shows</a>
      </li>
      <li>
        <a href="/search/users" class="tab-underlined activated">Users</a>
      </li>
    </ul>
  </div>

  <div class="cards-friends">
    <% @users.each do |user| %>
      <div data-user=<%= user.id %>>
        <%= render "search/users/user", user: user %>
      </div>
    <% end %>
  </div>
</div>
