.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-xlarge {
  width: 77px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-small {
  width: 50%;
  border-radius: 50%;

}

.avatar-petit {
  width: 73px;
  height: 73px;
}

.users-pile-avatar {
  display: flex;
  flex-direction: row-reverse;
  width: 60px;
  height: 40px;
  position: relative;
  img {
    position: absolute;
  }
  img:nth-child(1) {
  right: 0%;
  }
  img:nth-child(2) {
  right: 25%;
  }
  img:nth-child(3) {
  right: 50%;
  }
}
