.btn {
  color: $color1;
}

.btn-interaction {
  height: 62px;
  width: 62px;
  border-radius: 50%;
  border: 3px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  .superlike {
    width: 48px;
    height: 48px;
  }
  i {
    font-size: 28px;
  }
}
