.btn {
  color: $color1;
}

.btn-interaction {
  height: 62px;
  width: 62px;
  border-radius: 50%;
  border: 3px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  #thumb-up {
    font-size: 28px;
    color: white;
  }
  #thumb-down {
    font-size: 28px;
    color: white;
  }
}

#heart-like {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 3px solid rgb(253, 8, 122);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #7CE7EC;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 16px;
    color: #C0C0C0;
    -webkit-text-stroke: 2px black
  }
}

#back-show {
  position: absolute;
  left: 10px;
  top: 115px;
}

#back-index {
  position: absolute;
  left: 10px;
  top: 79px;
}
