.card-tv-show-small {
  margin-right: 20px;
  margin-bottom: 7px;
  border-radius: 8px;
  box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: min-content;

  width: 120px;

  .tv-show-infos {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100%;
  }
  .tv-show-title {
    padding: 7px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    color: $tv-show-small-infos-color;
    height: 47px;
  }
  .show-score {
    display: flex;
    flex-direction: row;
    padding-right: 3px;
    padding-bottom: 7px;
    color: $tv-show-small-infos-color;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    height: 20px;
    p {
      margin: 0;
      margin-right: 2px;
      margin-left: auto;
      line-height: inherit;
      width: 20px;
      height: 20px;
    }
    i {
      font-size: 15px;
      width: 20px;
      height: 20px;
      color: $tv-show-small-infos-color;
      margin-right: 1px;
      margin-left: 4px;
      line-height: inherit;
    }
    .fa-star{
      color: yellow;
    }
    .fa-users {
      margin-left: 15px;
      color: $textcolor;
    }
  }
  .tv-show-poster {
    text-align: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
}

.card-tv-show-poster {
  margin-right: 20px;
  margin-bottom: 7px;
  box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: min-content;

  .tv-show-poster {
    text-align: center;
    overflow: hidden;
    height: 150px;
    width: 110px;
    img {
      height: 100%;
      width: 100%;
      border-radius: 8px;
    }
  }
}

// CARD-USER

.card-user {
  color: $textcolor;
  opacity: 0.85;
    p{
      color: $textcolor;
    }
}

.user-description {
  text-align: left;
}

.user-header-info {
  font-weight: bolder;
  color: $textcolor;
}

.user-header {
  color: $textcolor;
}

// REVIEW-CARD

.review-card {
  padding: 2px;
  width: 100%;
  height:min-content;
  border-radius: 15px;
  background-color: #454545;
  margin-bottom: 10px;
  .username {
    margin-left: 8px;
    margin-top: 5px;
    color: darkgray;
    font-size: 14px;
    font-weight: normal;
  }
  .review-comment {
    color:#C0C0C0;
    padding-left: 5px;
    padding-right: 5px;
  }
  .user-rating {
    margin-left: auto;
    margin-right: 5px;
    margin-top: 7px;
    color: #C0C0C0;
    font-size: 16px;
    font-weight: bold;
  }
}


.feedback-time {
  color: #7E7E7E ;
}

// Index cards friends
.friends_title {
  color: #32E0C4;
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}

.card-friends, .card-follows {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
}

.card-friends-description, .card-follows-description{
  color: $textcolor;
}

.card-friends img, .card-follows img{
  height: 30%;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.card-friends-infos, .card-follows-infos {
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  color: $textcolor;
  width: 100%;
}

.card-friends >.card-friends-infos {
  width: 79%;
  display: flex;
  flex-direction: column;
}

.cards-friends, .cards-follows {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.follow-button {
  color: #32E0C4;
  background-color: $textcolor;
  border: 1px solid;
  border-color: #32E0C4;
  border-radius: 3px;
  width: 98px;
  height: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.following-button {
  color: $textcolor;
  background-color: $color1;
  border: 1px solid;
  border-color: $color1;
  border-radius: 3px;
  width: 98px;
  height: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-friends a{
  display: flex;
  align-items: center;
}

// SUGGESTION-CARD

.card-suggestion {
  min-height: 87vh;
  color: #C0C0C0;

  .title-suggest {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
  }


  h4 {
    font-weight: 400;
    font-size: 20px;
    color: white;
  }

  .card-suggestion-tvshow-poster {
    img {
      height: 450px;
      border-radius: 8px;
      box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.5);
    }
  }

  .followers-superliked-container {
    font-size: 14px;
  }

  .card-purchase-score-suggest {
    position: relative;
    top: -35px;
    right: -45px;
    background-color: #212529;
    border-radius: 14px;
    width: 70px;
    padding-top: 2px;
    margin-bottom: 2px;
  }

}
