.tag-container {
  width: 90%;
  margin: 0 auto;
}

.tag-item {
  display: inline-block;
  margin-bottom: 0 !important;
  .form-check {
    padding-left: 0.1rem !important;
  }
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #03241e;
  border: 1px solid #32E0C4;
  margin-right: 0.6rem;
  margin-bottom: 0.2rem;
}

.tag-selector:checked + label {
  background-color: #32E0C4;
  color: white;
}
