
.form-sign-in {
  color: white;
  opacity: 0.85;
}

.form-input {
  width: 100%;
  height: 25px;
  background-color: #454545;
  color: #C0C0C0;
  font-size: 11px;
  border-radius: 15px;
  padding: 3px;
  text-align: left;
}


.modal-content {
  background-color: #22252a;
  width: 100%;
  border-radius: 8px;

  .form-sign-in {
    color: white;
    opacity: 0.85;
  }

  .form-sign-in-info {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.form-container-edit {
  background-color: $background;
  color: $textcolor;
}

.calque {
  min-height: calc(100vh - 50px);
}

.feedback_comment {
  color: white;
}

.feedback_rating {
  color: white;
}

.feedback_status {
  color: white;
}

.edit_form_show {
  padding: 5px;
  select {
    border-radius: 5px;
    background-color: #1F2228;
    color: #C0C0C0;
    border: 1px rgba(196, 196, 196, 0.5) solid;
    &:focus {
      background-color: #1F2228;
      color: #C0C0C0;
    }
  }
  textarea {
    border-radius: 5px;
    background-color: #1F2228;
    color: #C0C0C0;
    border: 1px rgba(196, 196, 196, 0.5) solid;
    &:focus {
      color: #C0C0C0;
      background-color: #1F2228;
    }
  }
}

.new_feedback {
  padding: 5px;
  select {
    border-radius: 5px;
    background-color: #1F2228;
    color: #C0C0C0;
    border: 1px rgba(196, 196, 196, 0.5) solid;
    &:focus {
      background-color: #1F2228;
      color: #C0C0C0;
    }
  }
  textarea {
    border-radius: 5px;
    background-color: #1F2228;
    color: #C0C0C0;
    border: 1px rgba(196, 196, 196, 0.5) solid;
    &:focus {
      color: #C0C0C0;
      background-color: #1F2228;
    }
  }
}
